.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.container h1 {
  position: relative;
  right: 160px;
}
.container p{
  position: relative;
  top: 15px;
  left: 30px;
}


.button-group {
  display: flex;
  gap: 60px;
  margin: 10px 0;

}
 .Back{
  height:50px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.555), 0 6px 20px 0 rgba(67, 67, 67, 0.19);
  background-color: rgb(105, 224, 248);
  position: relative;
  right: 300px;

}

.button-group button {
  padding: 45px 45px;
  position: relative;
  top: 10px;
  left: 40px;
  box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.555), 0 6px 20px 0 rgba(67, 67, 67, 0.19);
  background-color: rgb(105, 224, 248);
  color: black;
  font-size: medium;
  transition: transform 0.3s ease;




}
.button-group button:hover{
  background-color: rgb(138, 234, 251);
  transform: translateY(-10px);

  
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}




.User-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  background: #dbf0ff;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  left: 80px;
  top: 10px;
}
.User-form button{
  background-color: rgb(105, 224, 248);
}
.User-form button:hover{
  background-color: rgb(127, 236, 255);
}


.User-form input,
.User-form select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.User-table {
  width:850px;
  margin-top: 20px;
  border-collapse: collapse;
}

.User-table th,
.User-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.User-table th {
  background:rgb(105, 217, 248) ;
  color:rgb(22, 22, 99);
}


.edit-btn {
  background: #ffc107;
  color: black;
  padding: 5px 10px;
}

.edit-btn:hover {
  background: #e0a800;
}

.delete-btn {
  background: #dc3545;
  color: white;
  padding: 5px 10px;
}

.delete-btn:hover {
  background: #c82333;
}
 
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.filter-section input,
.filter-section select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 48%;
}

.table-frame {
  max-height: 400px;
  width: 900px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;

}



